<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
    </amexio-header>
    <amexio-body>
        <amexio-datagrid [title]="'Data Grid'" [page-size]="10" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'" [enable-column-fiter]="true">
            <amexio-data-table-column [text]="'countryName'" [data-index]="'countryName'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'countryCode'" [data-index]="'countryCode1'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'currencyName'" [data-index]="'currencyName'" [data-type]="'string'">
            </amexio-data-table-column>
        </amexio-datagrid>

    </amexio-body>

    <amexio-action>

    </amexio-action>
</amexio-card>